body {
  padding-top: 50px;
  font-family: 'Raleway', sans-serif;
  background-image: url('static/background.jpg');
  background-repeat: no-repeat;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

h4{
    text-align: left;
}
